.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.user-input label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 10vw;
}

.user-input input {
  width: 100%;
}

.submit-form {
  display: flex;
  flex-direction: column;
  width: 10vw;
}

.btn {
  width: 10vw;
  padding-left: 3px;
  margin: 1vh 0 0 0;
}

.btn Button {
  width: 100%;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  width: 40vw;
}

.progress-color {
  height: 5vh;
  width: 2vw;
}

.green {
  background-color: green;
  width: 1vw;
}

.blue {
  background-color: blue;
  width: 1vw;
}

.red {
  background-color: red;
  width: 1vw;
}
